# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.APDB1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projekty\RiderProjects\APDB1\.idea\.idea.APDB1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
